.chat-room {
   height: 100vh;
   
}

.messages-area {
   height: 95vh;
   overflow-x: hidden;
   overflow-y: scroll;
}




#m {
    height: 40px;
    padding-left: 10px;
}

.chat-bubble {
    border: solid black 1px;
    border-radius: 5px;
    margin-top: 5px;
}

.name-stamp {
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 0px;
}

.message-text {
    padding-left: 10px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

@media screen and (max-width: 600px) {
    .messages-area {
        height: 87vh;
     }
     
     #messages {
        padding-left: 0px;
    }

} 